<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818602626219-arnc0176k9mb9t7oos1f4a46e4nfo3a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818602626219-arnc0176k9mb9t7oos1f4a46e4nfo3a3</string>
	<key>API_KEY</key>
	<string>AIzaSyC4AUhhCdbRjWYHigeP5vM4tyrfzo8XYD0</string>
	<key>GCM_SENDER_ID</key>
	<string>818602626219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.LoginFireBase</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-68768</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-68768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818602626219:ios:0c568ef2295c658d1c7bee</string>
</dict>
</plist>